In [1]:
import pandas as pd

In [2]:
#series - 1 dim object

book_series = pd.Series(["War and Peace I", "War and Peace II", "War and Peace III", "War and Peace IV"])
book_series

0      War and Peace I
1     War and Peace II
2    War and Peace III
3     War and Peace IV
dtype: object

In [3]:
pages_series = pd.Series([420, 350, 400, 380])
pages_series

0    420
1    350
2    400
3    380
dtype: int64

In [24]:
#dataframe - 2 dim object

df_books = pd.DataFrame({'name of the book': book_series, 'number of pages': pages_series})
df_books

    name of the book  number of pages
0    War and Peace I              420
1   War and Peace II              350
2  War and Peace III              400
3   War and Peace IV              380

In [25]:
#reading from a file:

df_movies = pd.read_csv('data/Walt_disney_movie_dataset.csv')
df_movies

,Unnamed: 0,title,Production company,Release date,Running time,Country,Language,Box office,Running time (int),Budget (float),...,Screenplay by,Countries,Production companies,Color process,Japanese,Hepburn,Adaptation by,Animation by,Traditional,Simplified
0,0,Academy Award Review of,Walt Disney Productions,"['May 19, 1937']",41 minutes (74 minutes 1966 release),United States,English,$45.472,41.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Snow White and the Seven Dwarfs,Walt Disney Productions,"['December 21, 1937 ( Carthay Circle Theatre )']",83 minutes,United States,English,$418 million,83.0,1490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Pinocchio,Walt Disney Productions,"['February 7, 1940 ( Center Theatre )', 'Febru...",88 minutes,United States,English,$164 million,88.0,2600000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Fantasia,Walt Disney Productions,"['November 13, 1940']",126 minutes,United States,English,$76.4â€“$83.3 million (United States and Canada),126.0,2280000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,The Reluctant Dragon,Walt Disney Productions,"['June 27, 1941']",74 minutes,United States,English,"$960,000 (worldwide rentals)",74.0,600000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,447,Chip 'n Dale: Rescue Rangers,NaN,NaN,NaN,United States,English,NaN,NaN,NaN,...,"['Dan Gregor', 'Doug Mand']",NaN,"['Walt Disney Pictures', 'Mandeville Films']",NaN,NaN,NaN,NaN,NaN,NaN,NaN
448,448,Hocus Pocus,Walt Disney Pictures,"['July 16, 1993']",96 minutes,United States,English,$44.9 million,96.0,28000000.0,...,"['Mick Garris', 'Neil Cuthbert']",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
449,449,Shrunk,NaN,NaN,NaN,United States,English,NaN,NaN,NaN,...,Todd Rosenberg,NaN,"['Walt Disney Pictures', 'Mandeville Films']",NaN,NaN,NaN,NaN,NaN,NaN,NaN
450,450,Pinocchio,NaN,NaN,NaN,United States,English,NaN,NaN,NaN,...,"['Chris Weitz', 'Robert Zemeckis']",NaN,"['Walt Disney Pictures', 'Depth of Field', 'Im...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
451,451,Hollywood Stargirl,NaN,NaN,NaN,United States,English,NaN,NaN,NaN,...,"['Jordan Horowitz', 'Julia Hart']",NaN,"['Walt Disney Pictures', 'Gotham Group']",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# writing into csv:
df_movies.to_csv('data/movies_edited.csv', index=False)